<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
